beautifulsoup4==4.12.2
cffi==1.15.1
distlib==0.3.7
filelock==3.13.0
numpy==1.26.1
pandas==2.1.2
pbr==5.11.1
platformdirs==3.11.0
prompt-toolkit==3.0.39
pycparser==2.21
Pygments==2.16.1
python-dateutil==2.8.2
pytz==2023.3.post1
radian==0.6.7
rchitect==0.4.2
six==1.16.0
soupsieve==2.5
stevedore==5.1.0
tzdata==2023.3
virtualenv==20.24.6
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.6
